* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #fff;
    color: #333;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #f4f4f4;
    padding: 0 20px;
    z-index: 1000;
}

.logo {
    flex: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-left: 20px;
}

nav a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #000;
}

/* Icons */
.icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.icons i {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #000;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
}

.hero video,
.hero img {
    width: 100%;
    height: auto;
    display: block;
}


/* Products Section */
.products-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.products-section h2 {
    margin-bottom: 40px;
    font-size: 28px;
    letter-spacing: 1px;
}
.product-link {
    text-decoration: none;
    color: inherit; /* Giữ màu mặc định của nội dung */
    display: block; /* Cho phép bọc toàn bộ sản phẩm */
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product-card:hover {
    transform: scale(1.05); /* Phóng to nhẹ khi di chuột vào */
    border-color: #333; /* Đổi màu viền */
}
.product-card img {
    width: 100%;
    height: auto;
    max-width: 200px;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card .price {
    color: #d9534f;
    font-weight: bold;
    margin-bottom: 15px;
}

.sold-out {
    color: #999;
    font-weight: bold;
}
.Discount {
    background-color: #d9534f;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right : 10px;
    border-radius: 3px;

}